/* Custom styles */

body {
  font-family: "Sora", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header-section {
  display: flex;
}

.navbar.navbar-expand-md.navbar-light {
  margin: 0 !important;
  padding: 0 !important;
}
.p0 {
  padding: 0 !important;
}
.m0 {
  margin: 0 !important;
}

.about-wrapper h4 {
  font-size: 16px;
  color: #005a7c;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  padding-left: 40px;
}

.about-section {
  background: url("./assets/aboutbg.png") no-repeat;
  background-size: cover;
  padding: 2%;
}
.aboutend {
  background-color: #ebf7fb;
  padding: 4%;
}

.about-wrapper p {
  line-height: 2 !important;
}
.navbar-brand img {
  width: 175px;
  padding: 20px;
  height: 110px !important;
  background: #ebf9ff;
}

.about-wrapper h4:before {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #005a7c;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
}
.about-wrapper h2 {
  font-size: 32px;
  color: #333;
  margin: 10px 0 30px;
  line-height: 42px;
  font-weight: bold;
  max-width: 470px;
}

.about-wrapper p {
  font-size: 16px;
  line-height: 21px;
  columns: #333;
  margin: 0;
}
.about-wrapper button {
  font-size: 16px;
  height: 40px;
  padding: 0 14px;
  background: #005a7c;
  color: #fff;
  border: 1px solid #005a7c;
  margin-top: 30px;
}
.about-whychoose-img {
  display: flex;
  padding-right: 15px;
}
.about-img-wrapper {
  max-width: 50%;
  flex: 0 0 50%;
  margin-left: 10px;
}
.about-img-wrapper img {
  width: 100%;
  margin-bottom: 10px;
}
.about-wrapper.roofing-solutions {
  text-align: center;
}
.about-wrapper.roofing-solutions h4:before {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #005a7c;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  left: -164px;
  margin: 0 auto;
}

.about-roofing-container {
  margin: 80px 0;
}
.about-reason-img img {
  width: 100%;
}
.about-wrapper.roofing-solutions h2 {
  margin-bottom: 50px;
  max-width: 100%;
}
.about-cards {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  padding: 24px 20px;
}
.about-cards h3 {
  font-size: 20px;
  color: #333;
  margin: 15px 0 10px;
  line-height: 42px;
  font-weight: bold;
}
.about-wrapper p {
  font-size: 16px;
  line-height: 19px;
  columns: #333;
  margin: 0;
}
.about-cards a {
  color: #005a7c;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.about-cards a:after {
  content: "→";
  font-size: 20px;
  color: #005a7c;
  display: inline-block;
  position: absolute;
  top: -2px;
  right: -23px;
  font-weight: bold;
}
.about-reason-img {
  padding-right: 14px;
}
.about-reason-right h4 {
  font-size: 16px;
  color: #005a7c;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  padding-left: 40px;
}
.about-reason-right h4:before {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #005a7c;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -0;
  margin: 0 auto;
}
.about-reason-right h2 {
  font-size: 32px;
  color: #333;
  margin: 10px 0 30px;
  line-height: 42px;
  font-weight: bold;
  max-width: 460px;
}
.about-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.about-sub-card {
  padding: 10px 10px;
  flex-grow: 1;
}
.about-inner {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  padding: 18px 14px;
  text-align: center;
  min-height: 120px;
}
.about-inner img {
  display: block;
  margin: 0 auto;
}
.about-inner h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 14px 0 0;
}
.about-leading-card {
  position: relative;
}
.about-equipement {
  text-align: center;
  padding: 15px 20px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 4px;
  background-color: #eee;
  max-width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -38px;
}
.product-equipement {
  text-align: left;
  padding: 15px 20px;
  border-radius: 4px;
  background-color: #eee;
  max-width: 80%;
  margin: 0 auto;
  border-top: 4px solid #f3be00;
  position: absolute;
  bottom: 12%;
  left: 0;
  right: 0;
}

.product-section .about-leading-card {
  position: relative;
  height: 435px;
}
.about-leading-card img {
  width: 100%;
}
.about-equipement h6,
.product-equipement h6 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin: 0 0 10px;
}
.about-equipement p,
.product-equipement p {
  font-size: 16px;
  line-height: 19px;
  columns: #333;
  line-height: 2;
  margin: 0;
}
.MT5 {
  margin-top: 20px !important;
}
@media (max-width: 991px) {
  .metalpairs {
    grid-template-columns: 1fr !important;
  }
  .metalpair div img {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .productimg {
    display: none;
  }

  .about-roofing-container {
    margin: 40px 0;
  }
  .about-whychoose-img {
    margin-top: 30px;
    padding: 0;
  }
  .about-img-wrapper {
    margin: 0;
    padding: 0 5px;
  }
  .about-img-wrapper img {
    margin-bottom: 10px;
  }
  .about-cards {
    margin-bottom: 20px;
  }
  .about-reason-img {
    padding: 0;
  }
  .about-reason-img {
    margin-bottom: 20px;
  }
  .about-inner {
    min-height: 130px;
  }
  .about-wrapper.roofing-solutions h2 {
    margin-bottom: 20px;
  }
  .about-leading {
    margin-bottom: 70px;
  }
}

.gallery_dropdown_div {
  margin: 20px 15px !important;
}

.buttoncss {
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  width: 100% !important;
  border: 1px solid #cccccc !important;
  border-radius: 0 !important;
}
.gallery_flex,
.shop-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 27px;
  margin-bottom: 20px;
}
.shop-flex div {
  padding: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 300px;
  text-align: center;
}

.section-shop {
  margin-top: 20px;
}

.shop-flex {
  margin-bottom: 20px;
}

.product-section .about-leading {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.productimg {
  position: absolute;
  z-index: 1;
  padding: 6px 10px 0px 0px;
  left: 0;
  background: #ffff;
  top: 43%;
}
.product2section {
  padding: 5% 5% 10%;
  background-image: linear-gradient(
    to bottom,
    #d6f3ff,
    #e4f5ff,
    #f0f7ff,
    #f9fbff,
    #ffffff
  );
}
.product2section .about-wrapper.roofing-solutions h4:before {
  left: -95% !important;
}

.product2section .about-wrapper.roofing-solutions h2 {
  margin-bottom: 23px;
}
.product2section .about-wrapper.roofing-solutions p {
  line-height: 1.5;
}

.product2section .about-wrapper .roofing-solutions {
  text-align: left;
  margin-left: 5%;
  width: 85%;
}

.metalpairs div {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 12px;
  background-color: #ffff;
  padding: 15px;
}

.bgimg-capital-metal {
  background: url("./assets/bg-captial.png") no-repeat;
  background-size: cover;
  padding: 2%;
}
.metalpairs {
  display: grid !important;
  justify-content: center;
  gap: 15px;
  row-gap: 15px !important;
  grid-template-columns: 1fr 1fr 1fr;
}

.bgimg-capital-metal h2 {
  margin-bottom: 10px !important;
}
.bgimg-capital-metal img {
  width: 100%;
}

.header-image {
  position: relative;
  background-blend-mode: overlay;
  background: #333 url("./assets/backgrond-header-img.png") no-repeat;
  background-size: cover;
  padding: 6%;
  color: #fff;
}

.header-image p {
  font-size: 20px;
}

.home-contractors-inner {
  background-image: url("./assets/home1bg.png") no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.product_img {
  width: 20% !important;
  position: absolute;
  top: -19%;
}
.about-conatiner {
  padding: 5%;
}
.home-why-choose-us {
  background-color: #eaf9ff;
}
.atbout-gradien {
  padding: 5%;
  margin: 0;
}
.atbout-gradien,
.home-why-contractor-refers {
  background-image: linear-gradient(
    to bottom,
    #d6f3ff,
    #e4f5ff,
    #f0f7ff,
    #f9fbff,
    #ffffff
  );
}

.home-banner-main {
  background-image: url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  padding: 150px 0;
  position: relative;
}
.fas.fa-phone-alt {
  transform: rotate(98deg);
}

.home-banner-main::after {
  content: "";
  background-color: rgb(0 0 0 / 63%);
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.home-banner-sub {
  position: relative;
  z-index: 1;
  max-width: 600px;
  padding-left: 100px;
}
.home-banner-main h4 {
  font-size: 22px;
  color: #fff;
  margin: 0;
  position: relative;
}
.home-banner-main h2 {
  font-size: 42px;
  color: #fff;
  margin: 10px 0 30px;
  line-height: 42px;
  font-weight: bold;
  text-transform: uppercase;
}

.home-banner-main p {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  margin: 0;
  line-height: 26px;
}
.home-banner-main button {
  font-size: 16px;
  height: 40px;
  padding: 0 14px;
  background: #fff;
  color: #fff;
  border: 1px solid #fff;
  color: #005a7c;
  margin-top: 30px;
  font-weight: bold;
}
.home-why-contractor-refers {
  padding: 80px 0;
  background-color: #eee;
}
.home-banner-contract img {
  width: 100%;
}
.home-banner-contract {
  padding-right: 27px;
}
.home-contractors-inner h4 {
  font-size: 16px;
  color: #005a7c;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  padding-left: 40px;
}

.home-contractors-inner h4:before {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #005a7c;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
}
.home-contractors-inner h2 {
  font-size: 32px;
  color: #333;
  margin: 10px 0 30px;
  line-height: 42px;
  font-weight: bold;
  max-width: 470px;
}

.home-contractors-inner p {
  font-size: 16px;
  line-height: 21px;
  columns: #333;
  margin: 0;
}
.home-contractors-inner button {
  font-size: 16px;
  height: 40px;
  padding: 0 14px;
  background: #005a7c;
  color: #fff;
  border: 1px solid #005a7c;
  margin-top: 30px;
}
.home-contractors-cards {
  margin-top: 40px;
}
.homecard {
  padding-right: 28px;
  position: relative;
}
.homecard.left:before {
  content: "";
  height: 120px;
  width: 2px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 60px;
  right: 6px;
  transform: translateY(-50%);
}
.homecard h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}
.homecard p {
  font-size: 16px;
  line-height: 19px;
  columns: #333;
  margin: 0;
}
.homecard button {
  font-size: 16px;
  height: 40px;
  padding: 0 14px;
  background: #005a7c;
  color: #fff;
  border: 1px solid #005a7c;
  margin-top: 30px;
  font-weight: bold;
}
.home-what-we-do-carousel {
  text-align: center;
  padding: 80px 0;
  /* background: #ebf9ff url("./assets/left-imgtest"); */
}
.home-what-we-do-carousel h4 {
  font-size: 16px;
  color: #005a7c;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  padding-left: 40px;
}
.home-what-we-do-carousel h4:before {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #005a7c;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  left: -128px;
  margin: 0 auto;
}
.home-what-we-do-carousel h2 {
  font-size: 32px;
  color: #333;
  margin: 10px 0 30px;
  line-height: 42px;
  font-weight: bold;
  margin-bottom: 50px;
  max-width: 100%;
}
.home-why-choose-us {
  text-align: center;
  padding: 80px 0;
}
.home-why-choose-us h4 {
  font-size: 16px;
  color: #005a7c;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  padding-left: 40px;
}
.home-why-choose-us h4:before {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #005a7c;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  left: -128px;
  margin: 0 auto;
}
.home-why-choose-us h2 {
  font-size: 32px;
  color: #333;
  line-height: 42px;
  font-weight: bold;
  max-width: 430px;
  margin: 10px auto 50px;
}
.home-roofing-img img {
  width: 100%;
}
.home-roofing-img {
  padding-right: 40px;
}
.home-roof-sub-card {
  display: flex;
  margin-bottom: 70px;
  padding-right: 30px;
}
.img-block {
  background-color: #005a7c;
  height: 60px;
  width: 60px;
  line-height: 60px;
}
.img-block img {
  max-width: 30px;
}
.home-roof-sub-card h5 {
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-whatwedo-card {
  padding: 0 14px;
  position: relative;
}
.home-whatwedo-card img {
  width: 100%;
}
.home-card-equipement {
  text-align: center;
  padding: 15px 20px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 4px;
  background-color: #eee;
  max-width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -19px;
}
.home-news-blog ul.slick-dots li {
  height: 3px;
  width: 20px;
  background: #ccc;
}
.home-news-blog ul.slick-dots li.slick-active {
  background-color: #000;
}
.home-news-blog .slick-dots li button:before {
  font-size: 0;
}
.home-whatwedo-card {
  position: relative;
  min-height: 328px;
  margin-bottom: 50px;
}
.home-card-equipement img {
  max-width: 60px;
  margin: -38px 0 20px;
  position: relative;
}
.home-card-equipement {
  text-align: left;
}
.home-card-equipement:before {
  content: "";
  background-color: #e8c301;
  height: 5px;
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.home-card-equipement h6 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}
.home-card-equipement a {
  margin-top: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #005a7c;
  position: relative;
}
.home-card-equipement a:after {
  content: "→";
  font-size: 20px;
  color: #005a7c;
  display: inline-block;
  position: absolute;
  top: -2px;
  right: -23px;
  font-weight: bold;
}
.home-card-equipement p {
  font-size: 16px;
  line-height: 19px;
  color: #333;
  margin: 0;
}
.home-testimonials {
  padding: 80px 0;
  text-align: center;
  background: url("./assets/bg-reviw.png");
  background-size: cover;
  color: #fff;
}
.home-testimonials h4 {
  font-size: 16px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  padding-left: 40px;
}
.home-testimonials h4:before {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  left: -128px;
  margin: 0 auto;
}
.home-testimonials h2 {
  font-size: 32px;
  color: #fff;
  line-height: 42px;
  font-weight: bold;
  max-width: 430px;
  margin: 10px auto 50px;
}
.home-testimonial-blog {
  max-width: 80%;
  margin: 0 auto;
}
.home-test-slider {
  display: flex;
  align-items: center;
}
.testimonial-img-block {
  max-width: 30%;
  flex: 0 0 30%;
}

.testimonial-img-block img {
  width: 100%;
  height: 215px;
}
.testimonial-content {
  max-width: 70%;
  flex: 0 0 70%;
  padding: 20px;
  text-align: left;
  flex-grow: 1;
  background-color: #3b596b;
}
.testimonial-content p {
  font-size: 14px;
}

.testimonial-content::before {
  content: "";
  background-image: url("./assets/quotes.png");
  background-size: contain;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}
.home-testimonial-blog .slick-next:before {
  display: none;
}
.home-testimonial-blog .slick-next::after {
  content: "";
  background-image: url("./assets/rightarrow.png");
  background-size: contain;
  position: relative;
  display: inline-block;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  height: 216px;
  max-width: 100px;
  min-width: 100px;
}

.home-testimonial-blog .slick-next {
  right: -35px;
  top: 11px;
}
.home-testimonial-blog .slick-prev:before {
  display: none;
}
.home-testimonial-blog .slick-prev::after {
  content: "";
  background-image: url("./assets/leftarrow.png");
  background-size: contain;
  position: relative;
  display: inline-block;
  right: 84px;
  top: -101px;
  background-repeat: no-repeat;
  height: 216px;
  width: 180px;
}

.home-testimonial-blog .slick-next {
  right: -35px;
  top: 11px;
}

.home-video-banner {
  padding: 120px 0;
  background-image: url("./assets/vbanner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
}
.home-video-banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.video-inner {
  color: #fff;
  position: relative;
  z-index: 1;
  display: flex;
}
.video-inner .vtext {
  flex-grow: 1;
  max-width: 50%;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-inner h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  max-width: 356px;
  padding-left: 20px;
  position: relative;
}
.video-inner h1:before {
  content: "";
  background-color: #e8c301;
  width: 10px;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.video-inner .vimg {
  flex-grow: 1;
  max-width: 50%;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vimg img {
  max-width: 70px;
  border-radius: 50%;
}
.home_news_blog_para p,
.home_news_blog_para h4,
.home_news_blog_para ul li {
  color: #000 !important;
}
.home_news_blog {
  padding: 80px 0 0;
}
.home_news_blog .home-whatwedo-card {
  padding: 0;
}
.home_news_blog .home-card-equipement {
  max-width: 100%;
  position: relative;
  bottom: 0;
}
.home_news_blog .home-card-equipement:before {
  display: none;
}
.home_news_blog h4 {
  color: #fff;
}
.home_news_blog p {
  color: #fff;
}
.home_news_blog ul {
  padding-left: 0;
}
.home_news_blog .home-card-equipement span {
  max-width: 62px;
  font-size: 25px;
  background: #f3be00;
  color: #fff;
  height: 49px;
  padding: 4px;
  padding: 6px 20px;
  margin: 0;
  position: absolute;
  top: -48px;
}
.home_news_blog li {
  height: 2px;
  width: 15px;
  background: #000;
  display: inline-block;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .home-banner-main {
    background-size: cover;
    padding: 60px 0;
  }
  .home-banner-sub {
    padding-left: 0;
  }
  .home-banner-main h2 {
    font-size: 32px;
  }
  .home-banner-contract {
    padding: 0 0 30px;
  }
  .homecard.left:before {
    display: none;
  }
  .home-testimonial-blog .slick-next:after {
    display: none;
  }
  .home-testimonial-blog .slick-next::before {
    display: block;
  }
  .home-testimonial-blog .slick-prev::after {
    display: none;
  }
  .home-testimonial-blog .slick-prev::before {
    display: block;
  }
  .home-why-contractor-refers {
    padding: 40px 0;
  }
  .vimg img {
    max-width: 50px;
  }
  .homecard {
    margin-bottom: 20px;
    padding: 0;
  }
  .home-contractors-inner button {
    margin-top: 0;
  }
  .home-video-banner {
    padding: 40px 0;
  }
  .video-inner h1 {
    font-size: 20px;
  }
  .home-why-choose-us {
    padding: 40px 0;
  }

  .home-roofing-img {
    padding: 0 0 30px;
  }
  .home-roof-sub-card {
    padding: 0;
    margin: 0 0 20px;
  }
  .home-testimonial-blog {
    max-width: 90%;
  }
  .home-testimonial-blog .slick-next {
    right: -30px;
    top: 50%;
  }
  .testimonial-content::before {
    height: 30px;
    width: 30px;
  }
  .testimonial-img-block img {
    height: 247px;
  }
  .home-contractors-inner h2,
  .home-what-we-do-carousel h2,
  .home-why-choose-us h2,
  .home-testimonials h2 {
    font-size: 28px;
    line-height: 30px;
  }
}

.top-bar {
  font-size: 0.9rem;
}

.nav-list .nav-link {
  font-weight: bold;
}
.footer-rights{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid #034057;
}



.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.footer {
  padding-top: 50px;
  background-color: #13202a;
}

.footer .card {
  background: linear-gradient(45deg, #0d6efd, #2a5298);
  border-radius: 8px;
}
.follow-us a{
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 4px 10px;
}

.footer h6 {
  font-weight: bold;
  margin-bottom:10px;
}  
.recent-ads{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}


.footer ul {
  padding-left: 0;
  line-height: 2.5;
}

.footer ul li a {
  color: #ddd;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #fff;
}

.footer .input-group input {
  border-radius: 0;
}

.footer .input-group button {
  background-color: #007bff;
  border: none;
  border-radius: 0;
}

.footer .input-group button:hover {
  background-color: #0056b3;
}

.footer a.text-light:hover {
  color: #fff;
}

.footer p {
  font-size: 0.9rem;
}


/* Global styles for sticky footer */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      align-items: normal;
      justify-content: flex-start;
      flex-direction: column;
      height: 110px;
  }
  .flex-header-div{
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  
  }
}
@media (max-width: 991px) and (min-width:768px) {
  .follow-us{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    } 
    .sm{display: none;}
}

@media (max-width: 767px) {

  .footer{text-align: center;}
 
  .top-bar{display: none;}
 }

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.navbar-nav .nav-link{font-size: 18px !important;}


.text-primary{color:#003d56 !important;}


